@tailwind base;
@tailwind components;
@tailwind utilities;

.badges-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.badge {
  animation: float 3s ease-in-out infinite, fadeIn 0.5s forwards;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes drop {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-drop-1 .badge {
  animation: drop 0.5s forwards 0.5s, float 3s ease-in-out infinite 0.5s;
}

.animate-drop-2 .badge {
  animation: drop 0.5s forwards 1s, float 3s ease-in-out infinite 1s;
}

.animate-drop-3 .badge {
  animation: drop 0.5s forwards 1.5s, float 3s ease-in-out infinite 1.5s;
}

.animate-drop-4 .badge {
  animation: drop 0.5s forwards 2s, float 3s ease-in-out infinite 2s;
}
